{% extends "OVEAuthentificationBundle:Default:ove-base.html.twig" %}

{% block content %}
  <h1>Paramétrage des Thésaurus</h1>
  <ul class="list">
    <li><a href="{{ path('thesaurus')}}">Thésaurus</a></li>
    <li><a href="{{ path('terme')}}"    >Terme</a></li>
  </ul>
{% endblock %}

