{% extends "OVEAuthentificationBundle:Default:ove-base.html.twig" %}

{% block content -%}
    <h1>Création Thésaurus</h1>
    <form action="{{ path('thesaurus_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        </p>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-save"></span> Créer</button>
    </form>
{% endblock %}
